<section class="body">
  <app-header></app-header>
  <section class="m-14" *ngIf="!isMobile">
    <div>
      <div class="text-6xl font-bold text-color pl-64">Sign up with us!</div>
      <div class="grid grid-cols-2 gap-4 mt-10">
        <div>
          <img class="rose-lin" src="assets/Images/rose-logo.png" />
        </div>
        <div>
          <form action="" [formGroup]="form">
            <div class="text-color text-lg font-bold">Full name</div>
            <mat-form-field class="w-3/4" appearance="outline">
              <input matInput formControlName="full_name" />
            </mat-form-field>
            <div class="text-color text-lg font-bold">Email Address</div>
            <mat-form-field class="w-3/4" appearance="outline">
              <input
                matInput
                formControlName="email"
                type="email"
                [email]="true"
              />
            </mat-form-field>
            <!-- <div class="text-color text-lg font-bold">Mobile Number</div>
            <mat-form-field class="w-3/4" appearance="outline">
              <input matInput formControlName="mobile_number" />
            </mat-form-field> -->
            <div>
              <button mat-raised-button class="fonts w-36" (click)="submit()">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="isMobile" class="m-5">
    <div>
      <p class="text-xl font-bold text-color text-center">Sign up with us!</p>
      <div>
        <img class="rose-lin-mobile" src="assets/Images/rose-logo.png" />
      </div>
      <div class="col-span-2">
        <form action="" [formGroup]="form">
          <div>
            <div class="text-color text-sm font-bold">Full name</div>
            <mat-form-field class="w-full" appearance="outline">
              <input matInput formControlName="full_name" />
            </mat-form-field>
          </div>
          <div class="col-span-2">
            <div class="text-color text-sm font-bold">Email Address</div>
            <mat-form-field class="w-full" appearance="outline">
              <input
                matInput
                formControlName="email"
                type="email"
                [email]="true"
              />
            </mat-form-field>
          </div>
          <div>
            <button
              mat-raised-button
              class="fonts w-28"
              (click)="submit()"
              [disabled]="isLoading"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</section>
<!-- 
<div
  style="
    background-color: #ffffff;
    border: 1px solid #e0e4e6;
    padding: 40px;
    padding-bottom: 52px;
    padding-top: 41px;
    border-radius: 10px;
    margin-top: 20px;
  "<button mat-raised-button class="fonts w-28" (click)="submit() >
              Sign Up
            </button>
>
  <div>
    <p style="font-size: 16px"><b>Hi, John</b></p>
    <div style="padding-left: 20px">
      <p>You can refer now a friend with this link:</p>
      <p>Username:</p>
      <p>Password:</p>
      <div style="padding-top: 16px">
        <a
          style="
            background-color: #199319;
            color: white;
            padding: 15px 25px;
            text-decoration: none;
            border-radius: 10px;
          "
          >Login to your account</a
        >
      </div>
    </div>
  </div>
</div> -->
