<div fxFlex="grow" fxLayout="column" fxLayoutAlign="start center">
  <mat-card>
    <div class="title">
      PRIVACY POLICY
    </div>
    <div class="subtitle">
      UPDATED AT 2022-12-15
    </div>
    <div class="header">
      Statement of Policy
    </div>
    <div class="content">
      <p>The Local Government Unit of Libon is hereby committed to respect and protect the personal information of its constituents and general public by adhering to Republic Act 10173, otherwise known as the Data Privacy Act of 2012 and other related laws.</p>
      <p>This Privacy Notice of the Local Government Unit of Libon (LGUL) is applicable to all personal information that we collect and process on all LGUL forms, website and online services, Personal Information refers to any information, whether recorded in a material form or not, from which your identity can be reasonably and directly identified. Sensitive personal information includes the individual’s race, ethnic origin, marital status, age, color, religious, philosophical or political affiliations, health, education genetic or sexual life of a person, or to any proceeding for any offense committed or alleged to have been committed by such person, the disposal of such proceedings, or the sentence of any court in such proceedings and those issued by government agencies peculiar to an individual which includes, but not limited to, social security numbers, previous or current health records, licenses or its denials, suspension or revocation, and tax returns.</p>
    </div>
    <div class="header">
      Data Collection and Use
    </div>
    <div class="content">
      <p>We process and collect personal and sensitive data information for a legitimate and valid purpose in the exercise of our mandate and function as a local government unit pursuant to Republic Act 7160 and other existing laws. It shall be solely used for documentation, analysis, processing and guide to policy direction for effective and efficient delivery of public services.</p>
    </div>
    <div class="header">
      Security of Information
    </div>
    <div class="content">
      <p>LGUL respects your privacy and keep your information confidential unless we are lawfully required or allowed to disclose it under existing laws, or when you give written consent to such disclosure.</p>
      <p>Only authorized personnel of LGUL have access to these personal information, and we have created and maintained a secure environment for the protection for the protection of your personal information and records.</p>
      <p>LGUL uses reasonable measures to safeguard sensitive identifiable information that are appropriate to the type of information maintained and adheres to existing laws and regulation regarding safeguard of such information under our control. However, due to the public nature of the internet, we advise that you take utmost caution in disclosing personal information online.</p>
    </div>
    <div class="header">
      Rights of Data Subjects
    </div>
    <div class="content">
      <p>Pursuant to the Data Privacy Act of 2012 and other related laws, LGUL is obliged and duty bound to protect and respect your privacy rights, including the right to be informed, right to access, right to correct, right to erasure or blocking, right to damages, right to file a complaint, right to rectify and right to data portability.</p>
    </div>
    <div class="header">
      Contact Us
    </div>
    <div class="content">
      <p>Don't hesitate to contact us if you have any questions.</p>
      <p></p>
      <p>-Via Email:  mdrrmolibon@gmail.com</p>
      <p>-Via Phone Number:  +63917 864 1084</p>
    </div>
  </mat-card>
</div>